#topLeft{
    animation-name:moveCenter ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 90px;
    left: 46px;
}


#topRight{
    animation-name:moveCenter ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 65px;
    right: 100px;
}


#bottomRight{
    animation-name:moveCenter ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: green
    ;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 25px;
    right: 87px;
}


#bottomLeft {
    animation-name:moveCenter ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 90px;
    left: 60px;
}

#center{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-name: moveCenter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}





body{
    animation-name:changeColor1 ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes changeColor1 {
    0%{background-color: brown;}
    10%{background-color:red;}
    20%{background-color: chocolate;}
    30%{background-color: yellow;}
    40%{background-color: yellowgreen;}
    50%{background-color: greenyellow;}
    60%{background-color: green;}
    70%{background-color: aquamarine;}
    80%{background-color: aqua;}
    90%{background-color: cyan;}
    100%{background-color: blue;}
}



@keyframes changeColor2 {
    0%{background-color: brown;}
    10%{background-color:red;}
    20%{background-color: chocolate;}
    30%{background-color: yellow;}
    40%{background-color: yellowgreen;}
    50%{background-color: greenyellow;}
    60%{background-color: green;}
    65%{background-color: black;}
    70%{background-color: aquamarine;}
    80%{background-color: aqua;}
    90%{background-color: cyan;}
    100%{background-color: blue;}
}





@keyframes moveCenter{
    0%{
        transform: translateX(-100%) translateY(-9%);background-color:crimson ;
    }
    25%{
        transform: translateX(87%) translateY(-65%) rotate(90deg);background-color:aqua ;
    }
    50%{
        transform: translateX(17%) translateY(26%) rotate(180deg);background-color:black ;
    }
    100%{
        transform: translateX(-97%) translateY(-62%);background-color: coral;
}
}

